.home {
  position: relative;
}

.lang {
  display: flex;
  justify-content: space-around;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    flex-basis: 25%;
    text-align: center;
    padding: 0px;
    h2 {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.contact {
  margin: 0px 5%;
  width: 90%;
  margin-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  nav {
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      width: 33.3333%;
      justify-content: center;
      padding: 10px;
    }
  }
}